// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  width: auto;
  margin: 20px 20px 0 20px;
}
#images {
  margin: 50px;
}
.image {
  display: inline;
  margin: 10px;
}
.image img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}