<h1>Welcome Home to the land of Helpers</h1>

<div id="johnny"><img src="http://1.bp.blogspot.com/-bnT289ET1Yw/UVbUKGCG7jI/AAAAAAAAVqQ/bkMwIHVP-z4/s1600/John+Lennon+as+a+Punk-Rocker.gif" alt="John is here to Help"></div>

